[submodule "workshops/MONAI-MedicalImage-SageMaker"]
	path = workshops/Medical_Imaging_AI/Advanced_MONAI_Workshops/MONAI-MedicalImage-SageMaker
	url = https://github.com/YuanSingapore/MONAI-MedicalImage-SageMaker.git
[submodule "workshops/Enrich_Comprehend_Medical_Custom_Models/amazon-comprehend-medical-enrich-custom-models"]
	path = workshops/Enrich_Comprehend_Medical_Custom_Models/amazon-comprehend-medical-enrich-custom-models
	url = https://github.com/aws-samples/amazon-comprehend-medical-enrich-custom-models.git
[submodule "workshops/Medical_Sentence_Relevance_Pretrained_Bert/medical-text-sentence-relevance-bert"]
	path = workshops/Medical_Sentence_Relevance_Pretrained_Bert/medical-text-sentence-relevance-bert
	url = https://github.com/aws-samples/medical-text-sentence-relevance-bert
[submodule "workshops/Monte_Carlo_Simulations_RStudio/amazon-sagemaker-statistical-simulation-rstudio"]
	path = workshops/Monte_Carlo_Simulations_RStudio/amazon-sagemaker-statistical-simulation-rstudio
	url = https://github.com/aws-samples/amazon-sagemaker-statistical-simulation-rstudio
[submodule "workshops/Predict_Training_Resource_Usage_SageMaker/amazon-sagemaker-predict-training-resource-usage"]
	path = workshops/Predict_Training_Resource_Usage_SageMaker/amazon-sagemaker-predict-training-resource-usage
	url = https://github.com/aws-samples/amazon-sagemaker-predict-training-resource-usage
[submodule "solutions/aws-healthcare-lifescience-ai-ml-sample-notebooks"]
	path = solutions/aws-healthcare-lifescience-ai-ml-sample-notebooks
	url = https://github.com/aws-samples/aws-healthcare-lifescience-ai-ml-sample-notebooks.git
[submodule "solutions/awesome-proteomics-on-aws"]
	path = solutions/awesome-proteomics-on-aws
	url = https://github.com/aws-samples/awesome-proteomics-on-aws
[submodule "solutions/aws-batch-architecture-for-rfdesign"]
	path = solutions/aws-batch-architecture-for-rfdesign
	url = https://github.com/aws-samples/aws-batch-architecture-for-rfdesign.git
[submodule "solutions/awesome-protein-analysis-on-aws"]
	path = solutions/awesome-protein-analysis-on-aws
	url = https://github.com/aws-samples/awesome-protein-analysis-on-aws.git
