[submodule "workshops/MONAI-MedicalImage-SageMaker"]
	path = workshops/Medical_Imaging_AI/Advanced_MONAI_Workshops/MONAI-MedicalImage-SageMaker
	url = https://github.com/YuanSingapore/MONAI-MedicalImage-SageMaker.git
